*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


.navlink{
    text-decoration: none;
    color: black;
    margin: 0 10px;

}
.navlink:hover{
  color: aliceblue;
  background-color: brown;
}
.homeimg{
    width: 500px;
    position: absolute;
    top: 200px;
  animation: float 2s ease-in-out infinite;
}
@keyframes float {
    0% {
      transform: translatey(0px);
    }
    50% {
      transform: translatey(-10px);
    }
    100% {
      transform: translatey(0px);
    }
  }